@define-color osd-bg #1e2326;
@define-color osd-fg #d3c6aa;

* {
  margin: 0;
  padding: 0;
}

window#osd {
  border-radius: 6px;
  border: none;
  background: @osd-bg;
}

window#osd #container {
  margin: 2px 16px 2px 4px;
}

window#osd image {
  -gtk-icon-transform: scale(0.6);
  color: @osd-fg;
  padding-left: 4px;
}

window#osd label {
  color: @osd-fg;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar,
window#osd segmentedprogress {
  min-height: 4px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough,
window#osd segment {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(@osd-fg, 0.5);
}

window#osd progress,
window#osd segment.active {
  min-height: inherit;
  border-radius: 0;
  border: none;
  background: @osd-fg;
}

window#osd segment {
  margin-left: 0;
}

window#osd segment:first-child {
  margin-left: 0;
}
